$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


.container {
    max-width: 730px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header{
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid $gray-lighter;

	.nav{
		margin-top: 10px;
	}
}

.iou-controls{
	margin-bottom: 20px;
}

.purchases-date-controls{
	margin-bottom: 10px;
}

.list-group-item.ng-enter { opacity: 0; }        /* starting animations for enter */
.list-group-item.ng-enter-active { opacity: 1; } /* terminal animations for enter */
.list-group-item.ng-leave { opacity: 1; }        /* starting animations for leave */
.list-group-item.ng-leave-active { opacity: 0; } /* terminal animations for leave */

.list-group-item{
   -webkit-transition:0.5s ease-out all;
   opacity: 1;
}

// A semi-transparent screen-takover to display loading messages
.notification {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.6);
	z-index: 9999;

	.alert{
		width: 30%;
		margin-left: auto;
		margin-right: auto;
	}

} //.notification;