$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header{
	overflow: hidden;
	margin-bottom: 20px;

	.nav{
		margin-top: 10px;
	}
}

.iou-controls{
	margin-bottom: 20px;
}