<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Split It</title>
  <link rel="stylesheet" href="vendor/css/normalize.css">
  <link rel="stylesheet" href="vendor/css/foundation.min.css">
  <script src="vendor/js/angular.js"></script>
  <script src="vendor/js/underscore.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="splitItApp" ng-controller="splitItCtrl">


<h1>What did you buy?</h1>

<form ng-submit="addTransaction(newTransaction)">
	<div class="row">
		<div class="large-3 columns">
			<label>What was it?</label>
			<input ng-model='newTransaction.name' type="text" placeholder="A Cat" required>
		</div>
		<div class="large-2 columns">
			<label>How much was it?</label>
			<input ng-model='newTransaction.amount' required type="number" placeholder="$1,000,000">
		</div>
		<div class="large-2 columns">
			<label>Who Paid?</label>
			<select
				ng-model="newTransaction.lender"
				required
				ng-options='lender.name for lender in lenders'
			>
			</select>
		</div>
		<div class="large-3 columns">
			<label>Split it between</label>
			<!-- todo: better UI for name entering -->
			<input ng-model='newTransaction.borrowers_str' type="text" placeholder="Everyone!">
		</div>
		<div class="large-2 columns">
			<button type="submit" class="button">+</button>
		</div>
	</div>
</form>

<h1>Group Purchases:</h1>

<div ng-repeat="t in transactions" id="transactions" class="panel" >
	{{t.lender}} needs to be reimbursed for paying ${{t.amount}} for {{t.name}}. These peeps owe him: {{t.borrowers.join(', ')}}
</div>

<button class="button large expand" ng-click='settleDebts()'>Settle Up!</button>
<div ng-if="settleResults">
	<div class="alert-box success" ng-repeat='transfer in settleResults'>
		{{transfer.borrower}} owes {{transfer.lender}} {{transfer.amount}}
	</div>
</div>

</body>
</html>
