<!doctype html>
<html lang="en" ng-app="splitItApp">
<head>
  <meta charset="utf-8">
  <title>Split It</title>
  <link rel="stylesheet" href="css/foundation.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div ng-controller="TransactionsCtrl">
    <h1>What did you buy?</h1>

    <form ng-submit="addTransaction(newTransaction)">
      <div class="row">
        <div class="large-2 columns">
          <label>Who Paid?</label>
          <select
            ng-model="newTransaction.lender"
            required
            ng-options='lender.name for lender in lenders'
          >
          </select>
        </div>
        <div class="large-3 columns">
          <label>What was it?</label>
          <input ng-model='newTransaction.name' type="text" placeholder="A Cat" required>
        </div>
        <div class="large-2 columns">
          <label>How much was it?</label>
          <input ng-model='newTransaction.amount' required type="number" placeholder="$1,000,000">
        </div>
        <div class="large-3 columns">
          <label>Split it between</label>
          <!-- todo: better UI for name entering -->
          <input ng-model='newTransaction.borrowers_str' type="text" placeholder="Everyone!">
        </div>
        <div class="large-2 columns">
          <button type="submit" class="button">+</button>
        </div>
      </div>
    </form>

    <h1>Group Purchases:</h1>

    <div ng-repeat="t in transactions" id="transactions" class="panel" >
      {{t.lender}} paid ${{t.amount}} for {{t.name}}. {{t.borrowers.join(', ')}} owe him.
      <a ng-click='deleteTransaction(t)'>&times;</a>
    </div>

    <button class="button large expand" ng-click='settleDebts()'>Settle Up!</button>
    <div ng-if="settleResults">
      <div class="alert-box success" ng-repeat='transfer in settleResults'>
        {{transfer.borrower}} owes {{transfer.lender}} {{transfer.amount}}
      </div>
    </div>    
  </div>

  <script src="lib/underscore.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
