<ul class="person-list list-group">
	<li class="person list-group-item" ng-repeat="person in people">
		<div class="row">
			<div class="col-xs-10">
				<h3 ng-show="!person.editMode">{{person.fullName}}</h3>
				<div class="row" ng-show="person.editMode">
					<form name="updatedPerson">
						<div class="col-xs-10">
							<input class="form-control" value="{{person.fullName}}" ng-model="updatedPerson.fullName">
						</div>
						<div class="col-xs-2">
							<button type="submit" class="btn btn-primary" ng-click="editPerson(person, updatedPerson)">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-primary" ng-click="toggleEdit(person)"><span class="glyphicon glyphicon-pencil"></span></button>
			</div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-danger" ng-click="removePerson(person)"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</div>
	</li>	
</ul>
