<ul class="person-list list-group">
	<li class="person list-group-item" ng-repeat="person in peopleData.people">
		<div class="row">
			<div class="col-xs-7">
				<h3 ng-show="!person.editMode">{{person.fullName}}</h3>
				<div class="row" ng-show="person.editMode">
					<form>
						<div class="col-xs-10">
							<input class="form-control" ng-model="person.fullName">
						</div>
						<div class="col-xs-2">
							<button type="submit" class="btn btn-primary" ng-click="editPerson(person)">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default" ng-click="toggleEdit(person)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button type="button" class="btn btn-danger" ng-click="removePerson(person)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
		</div>
	</li>	
</ul>
