<section class="purchases">
	<h2>Here's what we bought:</h2>
	<purchase-list purchases="purchaseData.purchases"></purchase-list>
</section>

<hr>

<section class="add-purchase">
	<h3>Add Something:</h3>
	<purchase-form submit-label="Add"></purchase-form>
</section>

<hr>

<section ng-show="purchaseData.purchases.length > 0">
<h3>Who owes who what?</h3>
	<div class="iou-controls btn-group">
		<button ng-click="calculateIous(purchaseData.purchases)" type="button" class="btn btn-large btn-primary">Crunch the Numbers</button>
		<button ng-click="ious={}" type="button" class="btn btn-large btn-default">Clear</button>
	</div>
	<div class="ious">
		<div class="iou alert alert-info" ng-repeat="iou in ious">
			{{peopleData.getPersonNameByUuid(iou.borrower)}} owes {{peopleData.getPersonNameByUuid(iou.lender)}} ${{iou.amount}}.
		</div>
	</div>
</section>