<h1>Stuff We Bought</h1>
<ul class="purchases list-group">
	<li class="purchase list-group-item" ng-repeat="purchase in purchaseData.purchases">
		<div class="row">
			<div class="col-xs-9">
				<div ng-show="!purchase.editMode">
					{{getPersonNameByUuid(purchase.purchaser)}} bought {{purchase.description}} for ${{purchase.cost}}
				</div>
				<div ng-show="purchase.editMode">
					<purchase-form submit-label='update' original-purchase='purchase'></purchase-form>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default" ng-click="toggleEdit(purchase)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button type="button" class="btn btn-danger" ng-click="removePurchase(purchase)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
		</div>
	</li>
</ul>

<hr>

<h3>Add Something:</h3>
<purchase-form submit-label="Add"></purchase-form>

<hr>
<section ng-show="purchaseData.purchases.length > 0">
<h3>Who owes who what?</h3>
	<div class="iou-controls btn-group">
		<button ng-click="calculateIous(purchaseData.purchases)" type="button" class="btn btn-large btn-primary">Crunch the Numbers</button>
		<button ng-click="ious={}" type="button" class="btn btn-large btn-default">Clear</button>
	</div>
	<div class="ious">
		<div class="iou alert alert-info" ng-repeat="iou in ious">
			{{getPersonNameByUuid(iou.borrower)}} owes {{getPersonNameByUuid(iou.lender)}} ${{iou.amount}}.
		</div>
	</div>
</section>