<h1>Stuff We Bought</h1>
<ul class="purchases list-group">
	<li class="purchase list-group-item" ng-repeat="purchase in purchaseData.purchases">
		<div class="row">
			<div class="col-xs-9">
				<div ng-show="!purchase.editMode">
					{{getPersonNameByUuid(purchase.purchaser)}} bought {{purchase.description}} for ${{purchase.cost}}
				</div>
				<div ng-show="purchase.editMode">
					<purchase-form submit-label='update' original-purchase='purchase'></purchase-form>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default" ng-click="toggleEdit(purchase)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button type="button" class="btn btn-danger" ng-click="removePurchase(purchase)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
		</div>
	</li>
</ul>

<hr>

<h2>Add Some Stuff:</h2>
<purchase-form submit-label="Add"></purchase-form>

<h2>Crunch the Numbas</h2>
<button ng-click="calculatePayments(purchaseData.purchases)" type="button" class="btn btn-large btn-primary">Crunch</button>
