<form class="form-horizontal" name="purchaseForm" role="form" novalidate>

	<div class="form-group" ng-class="{'has-error': purchaseForm.description.$invalid && !purchaseForm.description.$pristine}">
		<label for="name" class="col-sm-2 control-label">What did you buy?*</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="description" name="description" placeholder="A catapult" ng-model="newPurchase.description" required>
			<p ng-show="purchaseForm.description.$invalid && !purchaseForm.description.$pristine" class="help-block">Required</p>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': purchaseForm.amount.$invalid && !purchaseForm.amount.$pristine}">
		<label for="amount" class="col-sm-2 control-label">How much was it?*</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="amount" name="amount" placeholder="5" ng-model="newPurchase.amount" required>
			<p ng-show="purchaseForm.amount.$error.number && !purchaseForm.amount.$pristine" class="help-block">Please enter a dollar amount</p>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': purchaseForm.payer.$invalid && !purchaseForm.payer.$pristine}">
		<label for="amount" class="col-sm-2 control-label">Who paid?*</label>
		<div class="col-sm-10">
			<select class="form-control" name="payer" ng-model="newPurchase.payer" required ng-options="person.fullName for person in people"></select>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': purchaseForm.date.$invalid && !purchaseForm.date.$pristine}">
		<label for="date" class="col-sm-2 control-label">When?*</label>
		<div class="col-sm-10">
			<input validate-date type="date" class="form-control" name="date" id="date" required ng-model="newPurchase.date">
			<p ng-show="!purchaseForm.date.$pristine && purchaseForm.date.$error.validateDate" class="help-block">A validate date please.</p>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': purchaseForm.payer.$invalid && !purchaseForm.payer.$pristine}">
		<label for="amount" class="col-sm-2 control-label">Split it between</label>
		<div class="col-sm-10">
			<select class="form-control" name="owers" ng-model="newPurchase.owers" required multiple ng-options="person.fullName for person in people"></select>
		</div>
	</div>

	<button class="btn btn-primary" type="button" ng-click="addPurchase(newPurchase)">{{submit}}</button>

</form>